{%extends "base.html" %}
{%block title %}오픈한글감성사전에 오신것을 환영합니다{% endblock %}
{%block head %}<h4 align="center">오픈한글감성사전에 오신것을 환영합니다!  API를 이용하려면 로그인해주세요^^<br>OSS World Challenge 2017
제 11회 공개SW개발자대회 출품작 ::김주현 cyaai@cya.ai::</h4>{% endblock %}
{%block content %}
<style type="text/css">
    html, body { margin: 0; padding:0; width: 100%; height: 100%;}
    iframe { border: 0; width: 100%; }
  </style>
  <body>
    <iframe src="http://210.94.194.82:5601/app/kibana#/dashboard/00cbd110-9920-11e7-bb34-9fd1959208d6?embed=true&_g=()&_a=(description:'%EC%98%A4%ED%94%88+%ED%95%9C%EA%B5%AD%EC%96%B4+%EA%B0%90%EC%84%B1%EC%82%AC%EC%A0%84%EC%9D%84+%EC%9C%84%ED%95%9C+%EC%98%81%ED%99%94+%ED%8F%89%EC%A0%90+%EB%B6%84%EC%84%9D',filters:!(),options:(darkTheme:!f),panels:!((col:1,id:'84cf2390-99d9-11e7-9ca0-6140229770d1',panelIndex:2,row:1,size_x:6,size_y:8,type:visualization),(col:1,id:'152786a0-99e2-11e7-9f3c-e75693ac9f70',panelIndex:3,row:9,size_x:12,size_y:7,type:visualization),(col:7,id:'651d8490-9ba2-11e7-81e8-4bce25dc8b52',panelIndex:4,row:1,size_x:6,size_y:8,type:visualization)),query:(match_all:()),timeRestore:!t,title:MovieReview,uiState:(P-1:(vis:(defaultColors:('0+-+0':'rgb(0,104,55)'))),P-4:(vis:(defaultColors:('0+-+0':'rgb(0,104,55)')))),viewMode:view)" height="1800" frameBoarder="0" scrolling="no"></iframe>
  </body>
{% endblock %}